{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet">

    <title>
        {% block title %}
        Chai aur Django
        {% endblock %}
    </title>
</head>

<body id="pageBody" class="bg-dark text-white">
<nav class="navbar navbar-expand-lg bg-body-tertiary py-1">
  <div class="container-fluid">

    <a class="navbar-brand" href="#">Tweetbar</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- LEFT MENU -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active" href="#">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
            Dropdown
          </a>

          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>

      </ul>


      <!-- RIGHT SIDE -->
      <form class="d-flex ms-auto" role="search">

        <input class="form-control form-control-sm me-2 w-auto"
               type="search"
               placeholder="Search">

        <button class="btn btn-outline-success me-2"
                type="submit">
          Search
        </button>
      </form>

        <a href="{% url 'tweet_list' %}"
           class="btn btn-primary mx-2">
           Tweet Home
        </a>
        {% if user.is_authenticated  %}
        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button class="btn btn-danger" type="submit">Logout</button> 
        </form>
        {% else%}
        <a href="{% url 'register' %}"
          class="btn btn-primary mx-2">
          Register
        </a>
         <a href="{% url 'login' %}"
           class="btn btn-success mx-2">
           Login
        </a>
        {% endif%}
    </div>
  </div>
</nav>


    <!-- Toggle Button 
    <div class="container mt-3 text-end">
        <button onclick="toggleMode()" class="btn btn-warning">
            Theme(Light/Dark)
        </button>
    </div>-->

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

<script>
    // Load saved mode
    window.onload = function() {
        let mode = localStorage.getItem("mode");
        if(mode === "light"){
            document.getElementById("pageBody").classList.remove("bg-dark","text-white");
            document.getElementById("pageBody").classList.add("bg-light","text-dark");
        }
    }

    function toggleMode() {
        let body = document.getElementById("pageBody");

        body.classList.toggle("bg-dark");
        body.classList.toggle("text-white");
        body.classList.toggle("bg-light");
        body.classList.toggle("text-dark");

        // Save preference
        if(body.classList.contains("bg-dark")){
            localStorage.setItem("mode","dark");
        } else {
            localStorage.setItem("mode","light");
        }
    }
</script>

</body>
</html>
